/**
 * 7.0 - Footer
 * =======================
 */

.footer-bg {
  background-color: @gray_light;
}
#site-footer .widgettitle {
  color: @black;
}
ul#footer-social li i {
  color: @black;
  &:hover {
    color: @red;
  }
}

footer #boilerplate,
#site-footer {
  color: @black;
  font-family: @sans;
  p {
    color: #333333;
  }
  a {
    color: @red;
    font-weight: bold;
  }
}

#menu-footer-navigation li {
  font-family: @title;
  font-weight: 500;
  a {
    color: @black;
    font-weight: bold;
  }
}
