/**
 * Styles related to the "Photo Header" layouts for articles and series landing pages
 * This file is compiled into a separate stylesheet only loaded on those pages.
 */
/* Largo essentials */
@import "variables.less";

/* Custom Chicago Report variables */
@import "_variables.less";

header.photo-header-background {
  padding: 10em 0;
  margin-bottom: 5em;
  background: no-repeat center center local;
  background-size: cover;

  h1.entry-title,
  h5.top-tag,
  h2.subtitle {
    color: white;
    max-width: 500px;
    text-shadow: .5px .5px 8px #000000;
    margin-left: 8%;
  }

  h1.entry-title {
  	margin-bottom: 24px;
  }
  
  h5.top-tag {
    border-top: 5px solid @red;
    padding-top: 20px;
    font-family: @title;
    font-weight: 400;
    font-size: 20px;
  }

  h5.top-tag a {
    color: white;
  }

  h2.subtitle {
    font-family: @sans;
    font-weight: 300;
  }


}
h1.entry-title {
  font-size: 52px;
}

section.entry-content.clearfix {
  border-left: 1px solid @gray;
  padding-left: 50px;
  max-width: 850px;
  margin: 0 auto;
}

.entry-content p {
  font-size: 18px;
  line-height: 1.8;
  margin: 0 0 32px;
}

.entry-content blockquote {
  float: right;
  border-top: 5px solid @red;
  border-left: none;
  width: 400px;
  p {
    font-family: @title;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.5;
    margin: 32px 0;
  }
}

//Styles for Photo Header Plugin

.left, .right {
  float: none;
  margin: inherit;
}

.right { 
  header.photo-header-background {
    h5.top-tag, 
    h1.entry-title, 
    h2.subtitle  {
      margin-left: 50%;
    }
  }
}

.center {
  header.photo-header-background {
    text-align: center;
    h1.entry-title,
    h2.subtitle,
    h5.top-tag {
      max-width: 500px;
      margin: 0 auto;
    }

    h1.entry-title {
      margin-bottom: 24px;
    }
  }
}

.dark { 
  header.photo-header-background {
    h5.top-tag a, 
    h1.entry-title, 
    h2.subtitle  {
      color: black;
      text-shadow: none;
    }
  }
}

.top {
  header.photo-header-background {
    padding-top: 4em;
    padding-bottom: 16em;
  }
}

// Copy the widths that we apply to .entry-content in single posts/pages and apply them to these elements so that there is a similar visual appearance.
.photo-header #header-html {
  h5, p {
    padding: 0 17.021276594%;
    @media @tabletDown {
      padding: 0 @fluidGridColumnWidth;
    }
    @media @mobile {
      padding: 0;
    }
  }
}

.photo-header #series-main {
  .entry-title {
    clear: both;
  }

  article {
    box-sizing: border-box;
    border-bottom: none;

    @media (min-width: 768px) {
      width: 31.91489361%;
      display: block;
      float: left;

      @interrowpad: 4%;

      &:nth-child( 3n+1 ) {
        clear: left;
        padding-right: 0.6665 * @interrowpad;
      }
      &:nth-child( 3n+2 ) {
        padding-left: 0.3333 * @interrowpad;
        padding-right: 0.3333 * @interrowpad;
      }
      &:nth-child( 3n+3 ) {
        padding-left: 0.6665 * @interrowpad;
      }
    }
    img.wp-post-image {
      margin: 4px 0 6px 0;
    }
  }
}
#nav-below {
  clear: both;
  text-align: center;
}
