/**
 * Homepage styles for the "ChicagooReporterComplex" homepage class
 */
@import "_variables.less";

h3.bar-above {
  color:@black;
  a {
    color:@black;
    &:hover {
      color: @black;
    }
  }
}

.bar-above::before{
  display: block;
  clear: both;
  content: '';
  height: 4px;
  width: 3em;
  background-color: @red;
  margin-bottom: 0.3em;

  // this really should be a separate class but it is only used here
  text-transform: uppercase;
}
h3, h4 {
  font-family: @title;
}

.ChicagoReporterComplex .byline {
    font-size: 13.04px;
}

#homepage-top-sidebar,
#homepage-middle-image {
  h5 {
    font-family:@title;
  }
  h5 a {
    color: @black;
    &:hover {
      color: @red;
      text-decoration: none;
    }
  }
  h5 {
    margin-bottom: 0.25em;
  }
  .morelink a {
    margin-top: 1em;
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: @black;
    color: @white;
    font-family: @title;
    text-transform:uppercase;
    font-weight:bold;
    font-size:16px;
    &:hover {
      color: @white;
      text-decoration: none;
      background-color: @red;
    }
  }
  img {
    padding-bottom: 0;
    margin-bottom: 1em;
    height: auto;
    width: 100%;
  }

}

.top-story {
  background-color: @black;
  color: @white;
  text-align: center;
  .text {
    position: relative;
    margin-top: -4em;
  }

  h2 {
    //margin-top: -1em; // to move this up into the black of the image some.
    padding: 0 0.5em;
    a {
      color: @white;
      &:hover {
        color: @white;
      }
    }
  }

  .byline {
    font-family: @sans;
    margin-bottom: 1.5em;
    a {
      color: @white;
      font-weight: bold;
      &:hover {
        color: @white;
      }
    }

    .author {
      font-weight:bold;
    }
  }
  .edit-link {
    display: none;
  }

  .is-image a {
    display: block;
    position: relative;

    &::before {
      background-image: linear-gradient(
        transparent,
        transparent 75%,
        @black 90%
      );
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.ChicagoReporterComplex {
  &.stories article img.attachment-large,
  .sub-stories img.attachment-post-thumbnail {
    height: auto;
    max-width: 100%;
    float: none;
    margin: 0 0 1em 0;
  }

  .top-tag a {
    color: @gray;
    font-family: @sans;
  }
}

.sub-stories,
#homepage-middle-image {
  margin-bottom: 2em;

  p {
    font-size:16px;
  }
}
.sub-stories {
  article {
    border-bottom: none;
  }
  h3 {
    margin-bottom: .5em;
    a {
      color: @black;
      &:hover {
        color: @red;
        text-decoration: none;
      }
    }
  }
  .byline {
    margin: 0.5em 0;
    font-family: @sans;

    .author {
      font-weight:bold;
    }
  }
}

#beats_menu {
  margin-bottom: 3em;

  .main-menu-item {
      position: relative;
      
      &:hover {
        a span {
          color: @white;
          background-color:@blue;
        }
    }
  }

  a span {
    display: block;
    padding: 0.3em 0.5em;
    background-color: fade(@blue,80%);
    color: @white;
    font-size: 1.25em;
    box-sizing: border-box;
    font-family: @sans;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

#support-ctas {
  >h3 {
    font-size: 2em;
    text-align: center;
    color: @blue;
    border-bottom: 1px solid #ccc;
    padding: 0 0 .5em;
    margin-bottom:1em;
  }

  .cta {
    border-bottom: 1px solid #ccc;
    padding: 0 0 2em;
    margin-bottom:2em;
    display:flex;

    .number {
      display: inline-block;
      width: 12%;
      font-size: 2em;
      font-family: @title;
      font-weight: bold;
      color: @red;
      line-height: .8;
    }

    .cta-text {
      display: inline-block;
      width: 80%;

      strong {
        font-weight:bold;
        color:@black;
      }
    }

    h3 {
      margin-bottom:.25em;

      a {
        color:@black;
        &:hover {
          color:@blue;
          text-decoration:none;
        }
      }
    } 
    p {
      margin-bottom:.25em;
    }

    button {
      background-color: @blue;
      border: none;
      padding: .5em 1em;
      font-weight: bold;
      color: white;
      font-family:@title;

      &:hover {
        background-color:saturate(@blue,20%);
      }
    }

    img {
      max-width: 40%;
      float: left;
      margin-right: 10px;
      margin-top: .125em;
      border: 1px solid #ccc;
    }

    &:nth-of-type(2) {
      a:first-of-type {
        button {
          background-color: fade(@blue, 50%);
        }
      }
      a:nth-of-type(2) {
        button {
          background-color: fade(@blue, 75%);
        }
      }
    }

    &:last-of-type {
      margin-bottom:0;
      padding-bottom:0;
      border-bottom:none;
    }
  }
}

@media ( max-width: 1024px ) { 
  #beats_menu .span3 {
    // effectively span6
    width: 48.93617021%;
    margin-bottom: 1em;
    &:nth-child( odd ) {
      margin-left: 0;
      clear: left;
    }
  }
}

@media ( max-width: 768px ) {
  .row .span8,
  .row .span4 {
    width: 100%;
    margin: 0;
  }
  #nav-below {
    margin: 1em;
    clear: both;
    text-align: center;
  }

  // do not let images get irresponsibly huge, because we are using a smaller image size here
  #investigations img.wp-post-image {
    float: left;
    margin: 4px 12px 6px 0;
    height: auto;
    width: 30%;;
    max-width: 30%;
  }
}
@media ( max-width: 640px ) {
  .top-story {
    h2 {
      font-size: 40px
    }
  }
}
@media ( max-width: 480px ) {
  .top-story {
    h2 {
      font-size: 36px;
    }
  }
}
@media ( max-width: 360px ) {
  .top-story {
    h2 {
      font-size: 32px;
    }
  }
}
